    <div class="layout-notification">
      <div class='chat'>
<div class='chat-side'>
<div class='chat-user clearfix'>
<h5>shino furukawa</h5>
<div class='chat-user__actions'>
<a class='chat-user__action' href='/chat_groups/new'>
<i class='fa fa-pencil-square-o'></i>
</a>
<a class='chat-user__action' href='/users/edit'>
<i class='fa fa-cog'></i>
</a>
</div>
</div>
<ul class='chat-groups'>
</ul>

</div>
<div class='chat-main'></div>
</div>

    </div>
